body{
    background-color: aquamarine;
}

#btn{
    padding: 10px 13px;
   background-color:red;
    border: 2px solid black;
    color: white;
    font-weight: bold;
    border-radius: 8px;
    cursor: pointer;
}

p{
    text-align: center;
}
h1{
    text-align: center;
}